extends layout

block content
  h1="MockTime"
  h2="Equation Builder"
  div(ng-controller='IndexCtrl')
    form
        span
            | The independent variable
            input(type='text', ng-model='eq.x.name')
            | starts at 
            input(type='number', ng-model='eq.x.init')
        br
        span="Dependent Variables:"
        ul(id='dependents')
            li(ng-repeat='variable in eq.dependents')
                input(type='text', ng-model='variable.name')
                | starts at 
                input(type='number', ng-model='variable.init')
                button(ng-click='newDependent();', ng-show="$last")="+"
        span
            | When {{eq.x.name}} increases by 
            input(name='rate', id='rate', type='number', ng-model='eq.rate')
            | :
        br
        ul(id='actions')
            li(ng-repeat="action in eq.actions", class='action')
                select(ng-model='action.variable', ng-options="$index as d.name for d in eq.dependents")
                | should {{action.variable}}
                select(ng-model='action.operation')
                    option(value='add')="increase"
                    option(value='subtract')="decrease"
                    option(value='multiply')="multiply"
                    option(value='divide')="divide"
                | by 
                input(ng-model='action.value', type='number')
                button(ng-click='newAction();', ng-show="$last")="+"

    h2="Output"
    span
        | When {{eq.x.name}} is 
        input(ng-model="comp.x", type="number", class="{{compute();}}")
    ul(id='results')
        li(ng-repeat='variable in eq.dependents')
            {{variable.name}} is {{variable.value}}